

<ion-content [fullscreen]="true" class="content">
  <div class="center-div">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" 	size-xs="4" size-sm="3" size-md="1" size-lg="5" class="ion-text-end" >
          <img alt="flipLogo" src="assets/icon.png" class="blogo" />
        </ion-col>
        <ion-col size="7" 
         size-xs="8" 
         size-sm="9" 
         size-md="11" 
         size-lg="6"
         class="fonts"
         [appWordAnimation]="['Learn', 'Explore','Start', 'Flip It']" [timing]="1500">
        </ion-col> 
      </ion-row>
    </ion-grid>
  </div>
</ion-content>