.user-form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}

.userName{
    background-color:   rgba(192, 113, 223, 0.184);
    color: Black;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    height: 100%;
    width: 100%;  
}


