<ion-footer collapse="fade" class="custom-footer">
  <ion-toolbar>
    <ion-row class="ion-text-center">
      <ion-col size="3">
        <ion-icon name="card-outline" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="card-outline" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="card-outline" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="person-circle-outline" class="footer-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>