<ion-footer collapse="fade" >
  <ion-toolbar>
    <ion-row class="ion-text-center">

      <ion-col size="2">
        <ion-icon name="home" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="documents" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-electron" class="footer-icon"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
        <ion-icon name="people-circle" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="bar-chart" class="footer-icon"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="person-circle" class="footer-icon"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>