.footer-icon{
font-size: 33px;
}
.footer-icon-exit{
  font-weight: 800;
  font-size: 25px;
  transform: rotate(90deg);
}

.color{color: rgba(192, 113, 223, 0.825);}


.custom-footer ion-toolbar {
 
    --background: transparent
  }
  

  .custom-footer .ion-row {
    height: 100%; 
    align-items: center; 
  }


.footer-ios ion-toolbar:first-of-type {
  --border-width: 0 !important
}

