.language-label {
  display: flex;
  align-items: center;
  gap: 10px; /* space between image and text */
  color: Black
}


.language-label-selected {
  display: flex;
  align-items: center;
  gap: 10px; /* space between image and text */
  color: white
}