<ion-header  class="ion-no-border">
  <ion-toolbar class=" custom-header-toolbar ion-align-items-center">
    <ion-grid>
      <ion-row class="ion-text-center ion-align-items-center">
        <ion-col size="2">
          <ion-menu-button class="custom-menu-button"></ion-menu-button>
        </ion-col>
        <ion-col size="8">
        </ion-col>
        <ion-col size="2">
          <ion-icon name="person-circle" class="footer-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content" class="classymenu">
  <ion-content>

    <ion-row class="center-row">
      <ion-col  size="12">
 first
     
      </ion-col>
      <ion-col  size="12">
        second
             </ion-col>
   
    </ion-row>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
  </ion-content>
</div>
