<ion-header class="ion-no-border">
  <ion-toolbar class=" custom-header-toolbar ion-align-items-center">
    <ion-grid>
      <ion-row class="ion-text-center ion-align-items-center">
        <ion-col size="1">
          <ion-menu-button class="custom-menu-button"></ion-menu-button>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" contentId="main-content" class="classymenu" menuId="mainMenu">

  <ion-row>
    <ion-col size="12" class="center-div">
      <img alt="flipLogo" src="assets/icon.png" class="blogo-xsmall" />
    </ion-col>
    <ion-col size="12" class="column ion-margin-top" 
    [ngClass]="decks?'active-menu':''"
    (click)="displayDecks()">
      <ion-icon name="document-text" class="item-icon"></ion-icon>
      <span class="menu-item-description">My Decks</span>
    </ion-col>
    <ion-col size="12" *ngIf="decks" class="subMenu">
      <ion-row class="ion-margin-start">
        <ion-col size="10" class="menu-item-description" >
          Partes de la casa
        </ion-col>
        <ion-col size="10" class="menu-item-description">
          hi
        </ion-col>
        <ion-col size="10" class="menu-item-description" >
          hi
        </ion-col>
        <ion-col size="10" class="menu-item-description">
          hi
        </ion-col>
      </ion-row>
    </ion-col>
    
    <ion-col size="12" class="column">
      
      <ion-icon name="people-circle" class="item-icon"></ion-icon>
      <span class="menu-item-description">Comunities</span>
    </ion-col>
    <ion-col size="12" class="column">
      <ion-icon name="bar-chart" class="item-icon"></ion-icon>
      <span class="menu-item-description">Stadistics</span>
    </ion-col>
  </ion-row>

  <app-footer (exit)="exit()" (profile)="profile()"></app-footer>

</ion-menu>



<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
  </ion-content>
  <app-footer></app-footer>
</div>