
.custom-col{
  padding: 0 !important;
}

.transparent{
    --background:transparent;
    font-size: 14px;
    font-weight: 800;
    font-style: oblique;
   border-radius: 20px;
   width: auto;
    padding: 0 !important;
    height: 30px !important;
  }

  .indigo{
    border: 2px solid rgba(192, 113, 223, 0.328);;
     color: rgb(191, 113, 223);;
  }

  .icon{
font-size: 20px;


  }