/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


@font-face {
    font-family: 'CustomFontName'; /* Replace with your font's name */
    src: url('assets/fonts/neueMachina/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: normal; /* Adjust as needed */
    font-style: normal;  /* Adjust as needed */
  }

   .center-div-100 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  

  .center-Left {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items:center;
    height: 100%;
  }


  .center-Left-0h {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items:center;
  }

  .center-right-0h {
    display: flex;
    justify-content: end;
    align-content: center;
    align-items:center;
  }


  

  .center-div-80{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80%;
  }

  .center-div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .center-div-auth-childs{
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  justify-content: flex-start; /* Start content from the top */
  align-items: center; /* Keep horizontal centering */
  padding-top: 10px; /* Optional: Add some spacing */
  margin-top:40%
  }

  .flip-effect {
  display: inline-block;
  animation: flipAnimation 0.5s ease-in-out;
}

@keyframes flipAnimation {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  50% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.inable-item{
  opacity: 0.4;
}

.nextButton-icon{
  font-size: 50px;
  color: rgb(191, 113, 223);
  font-weight: 600;
}

.customButton{
  
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family: 'CustomFontName', sans-serif;
}

.fonts{
  font-size: 40px;
  font-family: 'CustomFontName', sans-serif; /* Add a fallback font */
  color: rgb(191, 113, 223);
}

.fonts-sub{
  font-size: 35px;
  font-family: 'CustomFontName', sans-serif; /* Add a fallback font */
  color: rgb(191, 113, 223);
}

.fonts-sub-alter{
  font-size: 35px;
  font-family: 'CustomFontName', sans-serif; /* Add a fallback font */
  color: #5ce1e6;;
}


.fonts-sub-small{
  font-size: 15px;
  font-family: 'CustomFontName', sans-serif; /* Add a fallback font */
  color: rgb(191, 113, 223);
}
.changeLanguageModal
{
  align-items: center;
  justify-content: center; 
  &::part(content){
background-color: red;
  }
}

.authInput {
  background-color: rgba(192, 113, 223, 0.184);
  color: black;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}


.authInput input {
  padding-left: 5px !important; 
}


.logo {
  max-height: 50px;
}

.blogo {
  max-height: 30vh;
}
.blogo-small {
  max-height: 20vh;
}
.blogo-xsmall {
  max-height: 7vh;
}

ion-content.content {
--background: #5ce1e6;
}

ion-content.content {
  --offset-top: 15%; /* Match the .final-logo-style height */
  padding-top: var(--offset-top);
}

ion-button.auth-button{
  --background:rgba(192, 113, 223, 0.825);
  color:  #5ce1e6;
}

.final-logo-style {
  transform: scale(0.4);
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content.content::part(scroll) {
  overflow-y: hidden !important; /* Or any value you want */
  overscroll-behavior-y: none !important; /* Modify as needed */
}



@media (min-width: 768px) {
  .fonts{
     font-size: 85px;
  }
  .fonts{
    font-size: 50px;
 }
   } 